.map-background{
    height:100%;
    position: relative;
}

.mapcontent{
    height: 90%;
}

.select-contronller{
    display: inline-block;
    position: absolute;
    right: 3%;
    height: 40%;
    background-color: black;
    width: 30%;
}