.map-background{
    height:100%;
    position: relative;
}

.mapcontent{
    height: 90%;
}

.select-contronller{
    float: right;
    height: 700px;
    background-color: black;
    width: 300px;
    z-index: 999;
}

.input-ori{
    position: absolute;
    margin:auto;
    padding-top: 10px;
    height: 100px;
    width: 80%;
}