.map-background{
    height:100%;
    position: relative;
}

.mapcontent{
    height: 90%;
}

.select-contronller{
    display: inline-block;
    position: absolute;
    margin: 10% 0;
    right: 0;
    height: 70%;
    background-color: black;
    width: 15%;
}

.input-ori{
    margin: 0 auto;
    padding-top: 10px;
    height: 100px;
    width: 80%;
}